---
# Only the main Sass file needs front matter (the dashes are enough)
---



/* $primary-color: #0D314F;
$primary-color: #C6913E;
$primary-color: #FB8832;*/

$primary-color: #C6913E;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 16px; // change to whatever //16

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever //18
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever //20
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever //22
  }
}
